.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding: 0 5%;
  margin-bottom: 20px;
}

form {
  height: 47%;
  border: 1px solid #2e2d2d;
  padding: 5% 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

form button {
  width: 30%;
  border: none;
  background-color: #ca8404;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 500;
}

.name-input,
.email-input {
  margin-bottom: 15px;
}

label {
  width: 90%;
}

input {
  border: 1px solid #ca8404;
}

textarea {
  border: 1px solid #ca8404;
  height: inherit;
  width: 76%;
  padding-left: 10px;
}

.message-input {
  height: 80%;
}

.lamp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45%;
}

.lamp img {
  height: auto;
  width: 80%;
}

.lamp button {
  background-color: #ca8404;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
}

@media (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 20px;
  }

  form {
    height: 80%;
    border: 1px solid #2e2d2d;
    padding: 5% 8%;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  form button {
    width: 40%;
    border: none;
    background-color: #ca8404;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
  }

  .name-input,
  .email-input {
    margin-bottom: 20px;
    width: 100%;
  }

  label {
    width: 100%;
  }

  input {
    border: 1px solid #ca8404;
    padding: 10px 70px;
  }

  textarea {
    border: 1px solid #ca8404;
    height: inherit;
    width: 100%;
    padding: 10px 70px 10px 10px;
  }

  .message-input {
    height: 80%;
  }

  .lamp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 45%;
  }

  .lamp img {
    height: 100%;
    width: 100%;
  }

  .lamp button {
    background-color: #ca8404;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    margin-top: 40px;
  }

  form h2 {
    font-weight: 800;
    padding-bottom: 20px;
  }
}
